@import url('colors.css');
@import url('components.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html,
body {
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.heading {
    text-align: center;
    margin: 1rem 0;
    font-size: 3rem;
}

/* =========================================== HEADER =========================================== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.header.sticky {
    border-bottom: .1rem solid var(--text-color);
}

.logo {
    font-weight: 700;
    font-size: 2.5rem;
    cursor: default;
    color: var(--text-color);
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.navbar .nav-link {
    font-size: 1.4rem;
    margin-left: 4rem;
    color: var(--text-color);
    position: relative;
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 0.1rem;
    background-color: var(--text-color);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbar .nav-link:hover::after {
    width: 100%;
}

#theme-toggle {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--text-color);
}

#menu-icon {
    font-size: 2.5rem;
    display: none;
    color: var(--text-color);
}

#language-switch {
    background-color: var(--main-color);
    color: var(--btn-color);
    padding: .3rem 1rem .3rem 2rem;
    border: 2px solid var(--main-color);
    border-radius: .5rem;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .1s ease;
}

.btn:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

/* =========================================== WELCOME =========================================== */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.home-content {
    padding-right: 10rem;
}

.home-content h1 {
    font-size: 5.5rem;
    font-weight: 700;
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
}

.btn-container {
    display: inline-flex;
    margin: 1rem 1.5rem 1rem 0;
    gap: 20px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--text-color);
    border-radius: 50%;
    font-size: 2.5rem;
    color: var(--text-color);
    margin: 1rem 1.5rem 1rem 0;
    transition: .3s;
}

.social-media a:hover {
    background: var(--text-color);
    color: var(--btn-text-color);
}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 35vw;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem var(--main-color);
}

/* =========================================== ABOUT =========================================== */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-bg-color);
    color: var(--text-color);
}

.about-content p {
    font-size: 1.5rem;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    object-fit: cover;
    width: 35vw;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem var(--main-color);
}

/* =========================================== PROJECTS =========================================== */
.project {
    background-color: var(--bg-color);
}

.project h2 {
    color: var(--text-color);
    margin-bottom: 4rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}

.project-box img {
    width: 100%;
    transition: .5s ease;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--layer-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .project-layer {
    transform: translateY(0);
}

.project-layer {
    color: var(--text-layer);
    font-size: 3rem;
}

.project-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--btn-color);
    border-radius: 50%;
}

.project-layer a i {
    font-size: 2rem;
    color: #000;
}

/* =========================================== SKILLS =========================================== */
.skills {
    background-color: var(--second-bg-color);
    color: var(--text-color);
}

.hardskills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.hardskills-container .hardskills-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--bg-color);
    font-size: 1.6rem;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 15rem;
    height: 15rem;
    border: 0.2rem solid var(--bg-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hardskills-container .hardskills-card:hover {
    border-color: var(--text-color);
    transform: scale(1);
}

.hardskills-card img {
    width: 80px;
    height: 80px;
}

.softskills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}

.softskills-container .softskills-card {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .3 ease;
}

.softskills-container .softskills-card:hover {
    border-color: var(--bg-dark);
    transform: scale(1);
}

.softskills-card i {
    font-size: 7rem;
}

.softskills-card h3 {
    font-size: 2.6rem;
}

.softskills-card p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* =========================================== EDUCATION =========================================== */
.education {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.education-container {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.education-container .education-card {
    background: var(--second-bg-color);
    border-radius: 1rem;
    padding: 2rem 5rem;
    gap: 2rem;
    width: 100%;
    max-width: 650px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.education-container .education-card .education-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 15rem;
    height: 15rem;
    flex-shrink: 0;
    background: var(--bg-color);
}

.education-container .education-card img {
    object-fit: cover;
    max-width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.education-card h3 {
    font-size: 2.6rem;
}

.education-card p {
    font-size: 1.6rem;
}

/* =========================================== CONTACT =========================================== */
.contact {
    background-color: var(--second-bg-color);
    color: var(--text-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 5px;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* =========================================== FOOTER =========================================== */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--bg-color);
}

.footer-text p {
    color: var(--text-color);
    font-size: 1.6rem;
}

.footer-text a {
    color: var(--text-color);
}

.footer-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--btn-arrow)
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
        width: 100%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .skills {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        text-transform: uppercase;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar .nav-link::after {
        display: none;
    }

    .navbar .nav-link:active {
        opacity: 0.6;
    }
    
    .navbar.active {
        display: block;
    }

    .nav-container {
        gap: 3rem;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 4rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img {
        width: 75vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img {
        width: 75vw;
        margin-top: 4rem;
    }

    .skills h2 {
        margin-bottom: 3rem;
    }

    .project h2 {
        margin-bottom: 3rem;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .project-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
        height: 250px;
    }

    .about-img img {
        width: 90vw;
        height: 250px;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}