@import url('colors.css');

body {
    background-color: var(--second-bg-color);
    color: var(--text-color);
}

.mentionLegales h1 {
    font-size: 4rem;
    text-align: center;
    margin: 1rem 0 1rem;
}

.mentionLegales h2 {
    font-size: 2.6rem;
    margin: 4rem 0 1rem;
}

.mentionLegales p {
    font-size: 2rem;
}

.mentionLegales a {
    color: var(--main-color);
    text-decoration: underline;
    font-size: 2rem;
}